@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;0,900;1,100;1,200;1,300;1,600;1,700;1,800;1,900&family=Shantell+Sans:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Shantell Sans", cursive;
}

.main-container {
  width: 100%;
  height: 100vh;
}
.main-container .container {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.primary-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4em 6em;
}
.primary-container .secondary-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.go-to-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2em;
}
.go-to-container .nav-btn {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  padding: 0.5em 1.5em;
  border: none;
  box-shadow: 10px 10px 10px 3px rgb(200, 196, 196);
  background-color: whitesmoke;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0.5em 1em;
}
.navbar-container .logo-container {
  margin-left: 5.5em;
  font-size: 1.25rem;
}
.navbar-container .logo-container h1 {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Shantell Sans", cursive;
  font-size: 2.5rem;
  font-weight: bolder;
  background-color: transparent;
}
.navbar-container .logo-container h1 .heading {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.navbar-container .menu-container {
  width: 50%;
  background-color: transparent;
}
.navbar-container .menu-container .navigation {
  width: 100%;
  background-color: transparent;
}
.navbar-container .menu-container .navigation ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-container .menu-container .navigation ul li {
  list-style: none;
}
.navbar-container .menu-container .navigation ul li .field {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
}
.navbar-container .menu-container .navigation ul li .active {
  text-decoration: none;
  color: rgb(122, 126, 126);
  font-size: 1.5rem;
  font-weight: bolder;
}

.intro-container {
  display: block;
  margin-left: 2em;
}
.intro-container p {
  font-size: 2rem;
}
.intro-container h1 {
  font-size: 3.5rem;
  font-weight: bolder;
}

.home-image-container {
  margin-right: 5em;
}
.home-image-container .gif {
  height: 22em;
  width: 24em;
  border: none;
  outline: none;
}

.click-here {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 1em 0;
  margin-left: 2.5em;
}

.about-secondary-container {
  margin-top: 3em;
  padding: 4em 5em;
  margin-bottom: 3em;
}
.about-secondary-container .about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 2em;
  align-items: flex-end;
  border-right: 5px solid black;
}
.about-secondary-container .about-container h1 {
  font-size: 3rem;
  font-weight: bolder;
}
.about-secondary-container .detail-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3em;
}

#tech-secondary-container {
  margin-top: -2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#tech-secondary-container .skill-intro {
  margin-left: 2em;
  margin-bottom: 0.8em;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 3.5px solid black;
}

.parent-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.child-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}
.child-container .icon-container svg {
  font-size: 2rem;
}
.child-container .skillbar-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1em;
  padding: 0.5em 1em;
}
.child-container .skillbar-container h1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.child-container .skillbar-container .skillbar {
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background-color: rgb(236, 233, 233);
  border: 2px solid black;
  padding: 0.1em;
}
.child-container .skillbar-container .skillbar .progress {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  width: 0;
  height: 100%;
  opacity: 1;
  background-color: rgb(62, 159, 191);
  border-radius: 20px;
  transition: width 2s;
}
.child-container .skillbar-container .skillbar .progress span {
  line-height: 20px;
  font-size: 0.1rem;
  font-weight: bold;
  color: black;
  margin-left: 0.2em;
}
.child-container .percentage {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.25rem;
  font-weight: bold;
}

.edu-secondary-container {
  margin-left: 1em;
  margin-top: 2em;
}
.edu-secondary-container .edu-info-container {
  padding: 1em 0;
}
.edu-secondary-container .edu-info-container .studies {
  margin-bottom: 0.5em;
  text-decoration: underline;
}
.edu-secondary-container .edu-info-container .field {
  padding-bottom: 0.5em;
  font-size: 1rem;
  font-weight: bold;
}
.edu-secondary-container .edu-image-container .gif {
  margin-top: -2em;
  height: 25em;
  width: 28em;
  border: none;
  outline: none;
  margin-right: 7em;
}

.contact-secondary-container .contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact-secondary-container .contact-info-container h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 1em;
}
.contact-secondary-container .contact-info-container p {
  font-size: 1.1rem;
  text-align: center;
  width: 50%;
}

.social-media-container {
  width: 100%;
  margin-top: 2em;
}
.social-media-container .contact-parent-container {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4em 3em;
}
.social-media-container .contact-parent-container .social-media {
  width: 15%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgb(209, 205, 205);
}
.social-media-container .contact-parent-container .social-media a {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-container .contact-parent-container .social-media a svg {
  color: black;
  font-size: 3em;
}

.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
}
.footer-container .contact-parent-container {
  display: flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
.footer-container .contact-parent-container .social-media {
  margin: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .contact-parent-container .social-media svg {
  color: white;
  font-size: 0.9rem;
}
.footer-container .copyright {
  color: white;
  font-size: 0.9rem;
}
.footer-container .email {
  color: white;
  font-size: 0.9rem;
}/*# sourceMappingURL=index.css.map */